* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1f1f;
}
.form-register {
    width: 400px;
    background-color: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 2px 11px 37px #610b9b;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #1f1f1f;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #570657;
    font-family: "calibri";
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.form-register a {
    color: aqua;
    text-decoration: none;

}

.form-register a:hover {
    color: white;
    text-decoration: underline;
    
}

.form-register .button{
    width: 100%;
    background-color: #5c0c70;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
.button:hover{
    background-color: palevioletred;
}